{% extends "./base.html" %}
{% block msg %}

<h1 style="color: burlywood; text-align: center; margin-bottom: 60px;">Select Company Values</h1>

<form method="post" action="{% url 'get-vision' %}">  <!-- Update the 'action' with the correct URL -->
    {% csrf_token %}
    <ul style="list-style-type: none;">
        {% for value in company_value %}
            <li style="margin-bottom: 10px;">
                <input type="checkbox" name="company_values" value="{{ value }}" id="value_{{ forloop.counter }}" class="company-checkbox">
                <label for="value_{{ forloop.counter }}">{{ value }}</label>
            </li>
        {% endfor %}
        <li><br>
            <label for="other_choice" style="color: brown;">If you don't like the above values you can enter yours</label>
            <br>
            1<input style="margin: 20px; width: 500px;  height: 40px" type="text" id="other_choice1" name="other_value" class="other-input"><br>
            2<input style="margin: 20px; width: 500px;  height: 40px" type="text" id="other_choice2" name="other_value" class="other-input"><br>
            3<input style="margin: 20px; width: 500px;  height: 40px" type="text" id="other_choice3" name="other_value" class="other-input"><br>
            4<input style="margin: 20px; width: 500px; height: 40px" type="text" id="other_choice4" name="other_value" class="other-input">
        </li>
    </ul>
    <button type="submit">Submit</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('.company-checkbox');
        var textInputs = document.querySelectorAll('.other-input');
    
        function updateTextInputStatus() {
            var checkedCount = 0;
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    checkedCount++;
                }
            });
    
            // Set required and disabled attributes for text inputs
            textInputs.forEach(function (input, index) {
                var shouldBeDisabled = index >= (4 - checkedCount);
                input.disabled = shouldBeDisabled;
                input.required = !shouldBeDisabled;
            });
        }
    
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', updateTextInputStatus);
        });
    
        // Initialize the state on page load
        updateTextInputStatus();
    });
    </script>
    

{% endblock %}
